body {
  width: 180px;
  margin: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

.group-div {
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 0px 5px;
  border: black 1px solid;
}

.material-div {
  height: 20px;
  cursor: pointer;
  width: -webkit-fill-available;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 0px 0px 0px 5px;
  border: black 1px solid;
}

#groups-container {
  width: 180px;
}

.material-name {
    margin-left: 5px;
    margin-right: 5px;
    font-size: small;
    overflow-x: scroll;
    width: 97px;
    white-space: nowrap;
    margin-top: 2.5px;
}

.material-name::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: block;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  border: 0;
}

.button-content>img {
  width: 16px;
  height: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.material-content {
  display: inline-block;
}

.material-button-black-border {
  border: black 1px solid;
}

.material-button-white-border {
  border: white 1px solid;
}

.material-button {
  border-width: 0px 0px 0px 1px;
  padding: 0px 5px 0px 5px;
  height: 20px;
  float: right;
}

.color-picker {
  left: 10px !important;
  width: 182px;
  background-color: white;
}

.save-color-button {
  margin: 5px;
  float: right;
}

.add-material-group>.material-name {
  width: 124px;
}

#add-material>.material-name {
  width: 136px;
}
